<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.superx.callorder.repository.SalaryTwoMapper" >
  <resultMap id="BaseResultMap" type="com.superx.callorder.entity.SalaryTwo" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="USERID" property="userid" jdbcType="INTEGER" />
    <result column="DEPARTMENT" property="department" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="BIANJI" property="bianji" jdbcType="VARCHAR" />
    <result column="ZHIBAN" property="zhiban" jdbcType="VARCHAR" />
    <result column="JIANGKE" property="jiangke" jdbcType="VARCHAR" />
    <result column="CHUCHE" property="chuche" jdbcType="VARCHAR" />
    <result column="YINGFAHEJI" property="yingfaheji" jdbcType="VARCHAR" />
    <result column="GESHUI" property="geshui" jdbcType="VARCHAR" />
    <result column="SHIFAHEJI" property="shifaheji" jdbcType="VARCHAR" />
    <result column="COUNT" property="count" jdbcType="VARCHAR" />
    <result column="NIANYUE" property="nianyue" jdbcType="VARCHAR" />
    <result column="CTRATETIME" property="ctratetime" jdbcType="TIMESTAMP" />
    <result column="CTRATOR" property="ctrator" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, USERID, DEPARTMENT, NAME, BIANJI, ZHIBAN, JIANGKE, CHUCHE, YINGFAHEJI, GESHUI, 
    SHIFAHEJI, COUNT, NIANYUE, CTRATETIME, CTRATOR
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_salarytwo
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_salarytwo
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.superx.callorder.entity.SalaryTwo" >
    insert into t_salarytwo (ID, USERID, DEPARTMENT, 
      NAME, BIANJI, ZHIBAN, 
      JIANGKE, CHUCHE, YINGFAHEJI, 
      GESHUI, SHIFAHEJI, COUNT, 
      NIANYUE, CTRATETIME, CTRATOR
      )
    values (#{id,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{department,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{bianji,jdbcType=VARCHAR}, #{zhiban,jdbcType=VARCHAR}, 
      #{jiangke,jdbcType=VARCHAR}, #{chuche,jdbcType=VARCHAR}, #{yingfaheji,jdbcType=VARCHAR}, 
      #{geshui,jdbcType=VARCHAR}, #{shifaheji,jdbcType=VARCHAR}, #{count,jdbcType=VARCHAR}, 
      #{nianyue,jdbcType=VARCHAR}, #{ctratetime,jdbcType=TIMESTAMP}, #{ctrator,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.superx.callorder.entity.SalaryTwo" >
    insert into t_salarytwo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="userid != null" >
        USERID,
      </if>
      <if test="department != null" >
        DEPARTMENT,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="bianji != null" >
        BIANJI,
      </if>
      <if test="zhiban != null" >
        ZHIBAN,
      </if>
      <if test="jiangke != null" >
        JIANGKE,
      </if>
      <if test="chuche != null" >
        CHUCHE,
      </if>
      <if test="yingfaheji != null" >
        YINGFAHEJI,
      </if>
      <if test="geshui != null" >
        GESHUI,
      </if>
      <if test="shifaheji != null" >
        SHIFAHEJI,
      </if>
      <if test="count != null" >
        COUNT,
      </if>
      <if test="nianyue != null" >
        NIANYUE,
      </if>
      <if test="ctratetime != null" >
        CTRATETIME,
      </if>
      <if test="ctrator != null" >
        CTRATOR,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="department != null" >
        #{department,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="bianji != null" >
        #{bianji,jdbcType=VARCHAR},
      </if>
      <if test="zhiban != null" >
        #{zhiban,jdbcType=VARCHAR},
      </if>
      <if test="jiangke != null" >
        #{jiangke,jdbcType=VARCHAR},
      </if>
      <if test="chuche != null" >
        #{chuche,jdbcType=VARCHAR},
      </if>
      <if test="yingfaheji != null" >
        #{yingfaheji,jdbcType=VARCHAR},
      </if>
      <if test="geshui != null" >
        #{geshui,jdbcType=VARCHAR},
      </if>
      <if test="shifaheji != null" >
        #{shifaheji,jdbcType=VARCHAR},
      </if>
      <if test="count != null" >
        #{count,jdbcType=VARCHAR},
      </if>
      <if test="nianyue != null" >
        #{nianyue,jdbcType=VARCHAR},
      </if>
      <if test="ctratetime != null" >
        #{ctratetime,jdbcType=TIMESTAMP},
      </if>
      <if test="ctrator != null" >
        #{ctrator,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.superx.callorder.entity.SalaryTwo" >
    update t_salarytwo
    <set >
      <if test="userid != null" >
        USERID = #{userid,jdbcType=INTEGER},
      </if>
      <if test="department != null" >
        DEPARTMENT = #{department,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="bianji != null" >
        BIANJI = #{bianji,jdbcType=VARCHAR},
      </if>
      <if test="zhiban != null" >
        ZHIBAN = #{zhiban,jdbcType=VARCHAR},
      </if>
      <if test="jiangke != null" >
        JIANGKE = #{jiangke,jdbcType=VARCHAR},
      </if>
      <if test="chuche != null" >
        CHUCHE = #{chuche,jdbcType=VARCHAR},
      </if>
      <if test="yingfaheji != null" >
        YINGFAHEJI = #{yingfaheji,jdbcType=VARCHAR},
      </if>
      <if test="geshui != null" >
        GESHUI = #{geshui,jdbcType=VARCHAR},
      </if>
      <if test="shifaheji != null" >
        SHIFAHEJI = #{shifaheji,jdbcType=VARCHAR},
      </if>
      <if test="count != null" >
        COUNT = #{count,jdbcType=VARCHAR},
      </if>
      <if test="nianyue != null" >
        NIANYUE = #{nianyue,jdbcType=VARCHAR},
      </if>
      <if test="ctratetime != null" >
        CTRATETIME = #{ctratetime,jdbcType=TIMESTAMP},
      </if>
      <if test="ctrator != null" >
        CTRATOR = #{ctrator,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.superx.callorder.entity.SalaryTwo" >
    update t_salarytwo
    set USERID = #{userid,jdbcType=INTEGER},
      DEPARTMENT = #{department,jdbcType=VARCHAR},
      NAME = #{name,jdbcType=VARCHAR},
      BIANJI = #{bianji,jdbcType=VARCHAR},
      ZHIBAN = #{zhiban,jdbcType=VARCHAR},
      JIANGKE = #{jiangke,jdbcType=VARCHAR},
      CHUCHE = #{chuche,jdbcType=VARCHAR},
      YINGFAHEJI = #{yingfaheji,jdbcType=VARCHAR},
      GESHUI = #{geshui,jdbcType=VARCHAR},
      SHIFAHEJI = #{shifaheji,jdbcType=VARCHAR},
      COUNT = #{count,jdbcType=VARCHAR},
      NIANYUE = #{nianyue,jdbcType=VARCHAR},
      CTRATETIME = #{ctratetime,jdbcType=TIMESTAMP},
      CTRATOR = #{ctrator,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <delete id="deletByCount" parameterType="java.lang.String" >
    delete from t_salarytwo
    where COUNT = #{count,jdbcType=VARCHAR}
  </delete>
  
  <select id="selectTwoList" resultMap="BaseResultMap"  parameterType="com.superx.callorder.entity.SalaryTwo">
   	    select 
    <include refid="Base_Column_List" />
    from t_salarytwo
	    <where>
	         <if test="name != null">
	            AND NAME = #{name,jdbcType=INTEGER}
	        </if>
	        <if test="department != null">
	            AND DEPARTMENT = #{department,jdbcType=VARCHAR}
	        </if>
	         <if test="nianyue != null">
	            AND NIANYUE = #{nianyue,jdbcType=VARCHAR}
	        </if>
	    </where>
   	</select>
</mapper>